.container { width: 100%; }

#header { width: 100vw; height: 100px; background: -webkit-gradient(linear, right top, left top, from(yellow), to(rgba(4, 179, 4, 0.89))); background: linear-gradient(to left, yellow, rgba(4, 179, 4, 0.89)); position: relative; font-size: 20px; font-weight: 700; color: #000; }

#header #logo { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: 100px; }

#header #nav { position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); right: 100px; }

#header #nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; }

#header #nav ul li { margin-left: 60px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

#header #nav ul li:hover { color: #a8ff06; font-size: 35px; -webkit-transition: all 0.5s ease; transition: all 0.5s ease; }

.section01 { position: relative; height: 1000px; background: -webkit-gradient(linear, right top, left top, from(yellow), to(rgba(4, 179, 4, 0.89))); background: linear-gradient(to left, yellow, rgba(4, 179, 4, 0.89)); text-transform: uppercase; }

.section01 .text { position: absolute; top: 50%; left: 50px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.section01 .text .title { color: #fff; font-size: 80px; line-height: 1.2; margin-bottom: 50px; }

.section01 .text .sub { color: #eeeeee; font-size: 20px; line-height: 1.1; }
